/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12/12/2023, 23:38:18
    Author     : Lucio
*/

.bgColor {
    background-color: rgb(19, 53, 47);
    
}

/*
body {
  background-color: rgb(52, 73, 94);
}
*/